body {
    margin: 0;
    background-color: #FFFDF3;
}

h1 {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family:sans-serif;
    font-weight: 600;
    font-style: Medium;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
}

p {
    margin: 0;
    font-family:sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}

#header-sec {
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #3A35411F;
    display: flex;
}

#hero-sec {
    background-color: #FFFFFF;
    width: 590px;
    height: 680px;
    border:1px solid #F1F1F1;
    border-radius: 4px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#email-input {
    width: 525px;
    height: 25px;
    padding: 0;
}

#password-input {
    width: 525px;
    height: 25px;
    padding: 0;
}

#masuk-btn {
    width: 525px;
    height: 30px;
    background-color: #3ECF4C;
    color: #ffffff;
    font-weight: 800;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
}

#daftar-btn {
    width: 525px;
    height: 30px;
    background-color: #E2FCD9CC;
    color: #3ECF4C;
    font-weight: 800;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
}

#phone-div {
    display: flex;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5%;
}

.line {
    flex: 1;
    border-top: 1px solid #e0e0e0;
}